.form-normal {
    margin: 15px 0;
}

.form-normal span {
    font-size: 12px;
}

@media only screen and (max-width: 767px) {
    .form-normal button {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) {
    .form-normal,
    .alert.alert-normal {
        max-width: 500px;
    }
    .form-normal {
        display: grid;
        grid-template-columns: auto auto;
        grid-auto-flow: row dense;
        max-width: 500px;
    }

    .form-normal label,
    .form-normal input {
        grid-column: span 2;
    }

    .form-normal button[type="submit"] {
        margin-top: 0;
        grid-column: 2;
        justify-self: end;
    }
}