form label {
    font-size: 11.375px;
    color: #888;
}

form .asterisk {
    color: #eb5e55;
    font-weight: bold;
    margin-left: 2px;
}

form .asterisk-note {
    color: #888;
    font-size: 9px;
}

form textarea {
    resize: none;
}

form textarea,
form input {
    display: block;
    border: 2px solid #ccc;
    color: #000;
    outline-color: #eb5e55;
    width: 100%;
    padding: 4.375px;
    margin: 2.1875px 0 8.75px 0;
}

form button[type="submit"] {
    margin-top: 7px;
}

@media only screen and (min-width: 768px) {
    form label {
        font-size: 13px;
    }

    form .asterisk-note {
        font-size: 11px;
    }

    form textarea,
    form input {
        margin: 2.5px 0 10px 0;
        padding: 5px;
    }

    form button[type="submit"] {
        margin-top: 8px;
    }
}