.news-item {
    padding: 10px;
    background: #f1f1f1;
    margin: 16px 0;
}

.news-title {
    display: grid;
    grid-template-columns: 1fr auto;
}

.news-title > h3 {
    margin: 0;
    font-size: 18px;
}

.news-date {
    font-size: 12px;
}

.news-text {
    margin: 14px 0;
    font-size: 14px;
}

.news-url {
    display: block;
    text-align: center;
}

@media only screen and (min-width: 768px) {
    .news-item {
        margin: 20px 0;
    }

    .news-title > h3 {
        font-size: 20px;
    }

    .news-date {
        font-size: 14px;
    }

    .news-text {
        margin: 16px 0;
        font-size: 16px;
    }

    .news-url {
        float: right;
    }
}