form textarea {
    height: 180px;
}

form button[type="submit"] {
    width: 100%;
}

@media only screen and (min-width: 768px) {
    form textarea {
        height: 200px;
    }

    form button[type="submit"] {
        float: right;
        width: auto;
    }
}