.grid {
    display: grid;
}

.grid-center-vertical {
    align-content: center;
}

.grid-center-horizontal {
    justify-content: center;
}

.grid-center-both {
    align-content: center;
    justify-content: center;
}
